################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Colimator_Control_GUI/FileContentIndex/a3f8a501-d09b-4f36-b4ed-ee24edd22ea3.vsidx
/.vs/Colimator_Control_GUI/FileContentIndex/94847961-6bc6-4540-b218-bc796f5b0d87.vsidx
